* {
    margin-left: 0;
    background-color: black;
    color: white;
}

div p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: yellow;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px dotted red;
}

#externa {
    background-color: blue;
    width: 250px;
    height: 250px;
}

#interna {
    background-color: brown;
    width: 50%;
    height: 50%;
}

.font-principal {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: black;

}