p {
    color: green; 
    background-color: yellow;
}

p {
    color: blue; 
    background-color: yellow;
}



#prf1 {
    font-size: large;
}

.destaque {
    color: white;
    background-color: black;
}